<strong>Olá, {{ user }}</strong>
<p>Houve uma nova inscriçao.</p>
<p>
  <strong>Evento: </strong>{{ meetup }}
  <br />
  <strong>Inscrito: </strong>{{ subscriberName }}
  <br />
  <strong>Email: </strong>{{ subscriberEmail }}
  <br />
  <strong>Data/horas: </strong>{{ date }}
  <br />
  <small>Há {{ total }} inscrito(s)</small>
</p>
